<div style="height: 50px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/moviemain">
        <img src="static/img/home.jpg" width="30" height="30" class="d-inline-block" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/moviemain">홈 <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="moviemain">현재상영작</a>
            <a class="nav-item nav-link" href="Future_movie">상영예정작</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">앞으로 할 것</a>
          </div>
        </div>
      </nav>
      </div>